@import url('https://api.fontshare.com/v2/css?f[]=hind@1&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=archivo@1&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@1&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=amulya@1&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=work-sans@1&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities
